body {
  background-color: cadetblue;
}

h1,
p {
  text-align: center;
  color: white;
}

img {
  max-width: 50%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: burlywood;
}
